# reset whole db on app restart
# set false in production!
com.liquorexchange.resetdb=true

spring.data.rest.base-path=/api

# configure mongo connection based on your installation

# these properties are not needed when you run MongoDB locally
spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.authentication-database=liquor
spring.data.mongodb.username=usr
spring.data.mongodb.password=xyz123
# this is always needed, but you can change db  if you like
spring.data.mongodb.database=liquor

# for backend development set to true, for frontend set to false
# spring.devtools.remote.restart.enabled=true

# jwt properties
app.jwtSecret=S3cretApp11icationK3y
app.jwtExpirationInMs=604800000

# smtp email
spring.mail.enabled=true
spring.mail.host=email-smtp.us-west-2.amazonaws.com
spring.mail.username=username
spring.mail.password=password
spring.mail.from=Liquor Exchange <info@liquor-exchange.com>
spring.mail.properties.mail.transport.protocol=smtp
spring.mail.properties.mail.smtp.port=465
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.ssl.enable=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true